<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cardápio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    
  <ion-grid>
      <ion-row>
          <img src="assets/img/menu.png" />
         
      </ion-row>
    <ion-row>
      <ion-col>
            <div class="ion-text-center">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title >Mussarela</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-row>
                          <ion-col>
                            <img src="assets/img/mussarela.png"/>
                          </ion-col>
                          <ion-col>
                              <div class="ion-text-justify">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </div>
                          </ion-col>
                        </ion-row>                 
                  </ion-card-content>
                </ion-card>
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
              <div class="ion-text-center">
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title >Marciana</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col>
                              <img src="assets/img/marciana.png"/>
                            </ion-col>
                            <ion-col>
                                <div class="ion-text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </div>
                            </ion-col>
                          </ion-row>                 
                    </ion-card-content>
                  </ion-card>
              </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
                <div class="ion-text-center">
                    <ion-card>
                      <ion-card-header>
                        <ion-card-title >Zumbi</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <ion-row>
                              <ion-col>
                                <img src="assets/img/zumbi.png"/>
                              </ion-col>
                              <ion-col>
                                  <div class="ion-text-justify">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  </div>
                              </ion-col>
                            </ion-row>                 
                      </ion-card-content>
                    </ion-card>
                </div>
          </ion-col>
      
      </ion-row>
      
  </ion-grid>
 

</ion-content>
